<div class="form-container">
    <form action="/blog-create" method="POST">
        <input type="text" name="title" placeholder="Enter the title" required>
        <textarea name="body" cols="30" rows="10" placeholder="Enter the blog's content" required></textarea>
        <input type="submit" value="Submit" />
    </form>
</div>