<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="/blog-create">Create New Blog</a>
        </li>
    </ul>
</nav>