<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <section id="blogs">
        <% for (i = 0;i<data.length;i++) { %> 
            <div class="title">
                <%= data[i].title %> 
            </div>
        <% } %> 
    </section> 
</body> 