<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs">
        <% for (i = 0;i<data.length;i++) { %> 
            <div class="title">
                <%= data[i].title %> 
            </div>
        <% } %> 
    </div> 
</body> 